*~
**/*.a
.cache
.classpath
**/core
**/*.core
**/*.d
*.deb
**/.depend
EVALUATION-LICENSE.md
**/.gdbinit
.idea
*.iml
**/*.ll
**/.Makefile.tags
.metadata
**/_mkc_*
**/*.o
.opam
**/*.pico
**/*.po
.project
.recommenders
.settings/
**/*.so
**/.*.swp
**/tags
target/
**/*.trace
