*~
**/*.a
.cache
.classpath
**/core
**/*.core
**/*.d
*.deb
**/.depend
EVALUATION-LICENSE.md
**/*.gcda
**/*.gcno
**/*.gcov
**/.gdbinit
.idea
*.iml
**/*.ll
**/.Makefile.tags
.metadata
**/_mkc_*
.nbstage
nbtools/mtree/mtree
nbtools/**/*.os
nbtools/pax/pax
nbtools/xinstall/xinstall
**/*.o
.opam
**/*.pico
**/*.po
.project
.recommenders
.settings/
**/*.so
**/.*.swp
**/tags
target/
.tools
**/*.trace
