a.out
*.d
.depend
dot-product
double-checked-locking
intr_driver
*.ll
lpcq
.Makefile.tags
memcpy
_mkc_*
nic
*.o
raceless-signal
rvpredict.trace
simplerace
simple-state-machine
spcq
spinning-loop
square-sum
stolz-queue
stolz-queue.plain
stolz-queue.rvp
stolz-queue.tsan
.*.swp
tags
*.trace
