*.d
.depend
dot-product
intr_driver
*.ll
lpcq
.Makefile.tags
memcpy
_mkc_*
*.o
raceless-signal
rvpredict.trace
simplerace
spcq
square-sum
stolz-queue
stolz-queue.plain
stolz-queue.rvp
stolz-queue.tsan
.*.swp
tags
