*.d
.depend
dot-product
double-checked-locking
intr_driver
*.ll
lpcq
.Makefile.tags
memcpy
_mkc_*
*.o
raceless-signal
simplerace
simple-state-machine
spcq
spinning-loop
square-sum
stack
stolz-queue
.*.swp
tags
unsafe-vector
